pipeline/using filter activity.json
{
	"name": "using filter activity",
	"properties": {
		"activities": [
			{
				"name": "Filter using name",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().empName,pipeline().parameters.filter_name)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"filter_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "using different activities"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-10T12:13:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}